/* Slider */

/* <body>
<div class="container-fluid">
<div class="row jumbotron text-center">
<div class="col-12">
<h3>Welcome!</h3>
<p class="lead">We are delighted to highlight some of the fascinating places, tourist attraction sites in East African Countries 
including Kenya, uganda and Tanzania</p>
<p>Explore, discover and enjoy!</p>
</div>
</div>

<div class="row">
<div class="col-12">
<h2>Top places</h2>
<div id="myBtnContainer">
<button class="btn active" onclick="filterSelection('all')">Show all</button>
<button class="btn" onclick="filterSelection('kenya')">Kenya</button>
<button class="btn" onclick="filterSelection('uganda')">Uganda</button>
<button class="btn" onclick="filterSelection('tanzania')">Tanzania</button>
</div>
<div class="row">
<div class="column kenya">
<div class="content">
<img>
<h4>Maasai Mara National Reserve</h4>
<p class="inline-block">
It is one of the key popular tourism points in Kenya, located in South-Western Kenya along the Great-Rift Valley adjacent 
to Serengeti National Park of Tanzania. The attractions in Maasai Mara National Reserve are both Nature and Wildlife. 
The Wildebeest migration is also witnessed in the Kenya iconic Maasai Mara National Reserve. A good short safari combination 
for those hoping to also see all these charismatic creatures (The Big Five)(and much more besides) would be Maasai Mara (for
lion, leopard, bufallo, and elephant) and Lake Nakuru (for black and white rhino).
</p>
</div>
</div>

<div class="column kenya">
<div class="content">
<img>
<h4>Hell's Gate National Park</h4>
<p class="inline-block"> 
 It lies South of Lake Naivasha in Kenya, North West of Nairobi. A small National Park. It is known for its wide variety
 of wildlife and for its scenery.
 There is a wide variety of Wildlife in the National Park though many are few in number, example of little seen wildlife
 include lions, leopards, and cheetahs. However the park has historically been an important home for the rare lammergeyer 
 vultures, Verreaux's eagles. augur buzzard, and swifts. Hyraxes, African buffalo, zebra, eland, hartebeest, Thomson's gazelle
 hyena and baboons are also common.
</p>
</div>
</div>

<div class="column kenya">
<div class="content">
<img>
<h4>Wilderbeast Migration</h4>
<p class="inline-block"> 
 The best time to witness the migration from the Serengeti to Maasai Mara is between July and September. 
 During this period the greatest spectacle on earth unfolds right before your eyes. Over a million wildebeest, 
 zebra and gazelles make their way to Maasai Mara by crossing the crocodile-infested Mara River in search for 
 greener pastures. Unfortunately though many are attacked and killed in the process.  
</p>
<p class="inline-block"> 
 The exact timing may change from year to year as it is a spontaneous event influenced by rainfall patterns and the 
 subsequent grazing opportunities. The animals are constantly on the move all year-round. They stay in the Maasai Mara 
 from July to october before gradually migrating back to the Serengeti from November.  
</p>
</div>
</div>

<div class="column uganda">
<div class="content">
<img>
<h4>Bwindi Imprenatrable National Park</h4>
<p class="inline-block"> 
 Among East African forests, Bwindi has some of the richest populations of trees, small mammals, birds, reptiles, 
 butterflies and moths. The park's diverse species are partly a result of the large variations of elevation and 
 habitatatypes in the park and may also be because the forest was a refuge for species during glaciation in the 
 Pleistocene epoch.
</p>
<p class="inline-block"> 
 The park is inhabited by about 600 individual mountain gorillas known as the Bwindi population, which makes up 
 almost half of all the mountain gorillas in the world.
</p>
</div>
</div>

<div class="column uganda">
<div class="content">
<img>
<h4>Kibale National Park sand Queen Elizabeth National Park</h4>
<p class="inline-block"> 
 Kibale National Park is an extension of the great rainforests of Central Africa. It is inhabited by three large "communities"
 of chimps, each numbering more than 100 individuals. Each community has a complicated social structure. The big adult males 
 dominate the group and defend the community territory against incursions by male outsiders; the female usually wander in
 small family groups.Typically, the chimps are located by listening for their pant-hooting calls, then hustle to the area from 
 which they are calling. They are observed as they feed in fruiting trees, lounge and socialize with each other or even occasionaly hunt. 
</p>
<p class="inline-block"> 
 Queen Elizabeth National Park incorporates dozens of mirror surfaces crater-lakes, salty and fresh water lakes. there are over 
 95 mammals including 10 primate species (chimpanzees, vervet, blue, red-tailed, L'Hoest monkey, colobus, baboons), upto 20 
 predators (lion, leopard, spotted hyena, etc), antelopes, buffaloes, hippos, elephants. more than 610 bird species (probably the 
 highest total for any national park in Africa, if not the world.) In addition to 54 raptors the checklist includes virtually
 every water bird species of Uganda, a variety of woodland and forest species.
</p>
</div>
</div>

<div class="column uganda">
<div class="content">
<img>
<h4>Ruwenzori Mountains</h4>
<p class="inline-block"> 
 The Ruwenzori, are a range of mountains in Eastern equatorial Africa, located on the border between Uganda and the Democratic 
  Republiuc of Congo. The highest peak of the Ruwenzori reaches 5,109 metres (16,762 ft), and the range's upper regios are 
  permanently snow-caped and glaciated. rivers fed by mountain streams from one of the sources of the Nile for which reason during
  the european exploration of Africa, the Ruwenzori came to be identifies with the legendary mountains of the moon, identified
  by the Greek scholar Ptolemy as the Source of Nile.
</p>
</div>
</div>

<div class="column tanzania">
<div class="content">
<img>
<h4>Serengeti National Park</h4>
<p class="inline-block"> 
Named for the Maasai word "siringet" (which translates roughly as "the place where the land runs on forever"). 
Serengeti National Park is among the oldest game reserves in Tanzania. Its also one of the most iconic safari
destinations on the African continent. Located in the north of the country, it partly adjoins the Kenyan border 
and together with the Maasai Mara National Reserve provides the backdrop for the annual Great Migration - considered 
by many to be the planets most impressive natural event.
</p>
</div>
</div>

<div class="column tanzania">
<div class="content">
<img>
<h4>Ngorongoro Crater</h4>
<p class="inline-block"> 
The main features of the Ngorongoro Conservation Authority is the Ngorongoro Crator, the world's largest inactive, intact 
and unfilled volcanic caldera. The crater, which formed when a large volcano exploded and collapsed on itself two to three
milion years ago, is 610 meters (2,000 feet) deep and its floor covers 260 square kilometers (100 square miles). Estimates 
of the heightof the original volcano range from 4,500 to 5,800 meters (14,800 to 19,000 feet) high. The crater floor is 
1,800 meters (5,900 feet) above sea level. The crater was voted by Seven Natural Wonders as one of the Seven Wonders of African
in Arusha, Tanzania in 2013.
</p>
</div>
</div>

<div class="column tanzania">
<div class="content">
<img>
<h4>Tangarine National Park</h4>
<p class="inline-block"> 
Tangarine National Park is a national park in Tanzania's Manyara region. the name of the park originates from the Tangarine River
Tangarine river is the primary source of fresh water for wirld animals in the Tangarine Ecosystem during the annual dry season.
The Tangarine ecosystem is defined by the long-distance migration of wildebeest and zebras.
</p>
<p class="inline-block"> 
The park is famous for its high density of elephants and baobab trees. Visitors to the park in June and November dry season
can expect to see large heards of thousands of zebra, wildebeest and cape bufallo. Predators in Tangarine include lion, leopard,
cheetah, caracal, honey badger and African Wild Dog.
The oldest known elephant to give birth to twins is found in Tangarine. A recent birth of elephant twins in the Tangarine National
Park of Tanzania is a great example of how the birth of these two healthy and thriving twins can beat the odds.

</p>
</div>
</div>

</div>
</div>
</div>
</div>


TOP TOURIST ATTRACTIONS SITES IN:
KENYA UGANDA AND TANZANIA



</body> */