@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Alata', sans-serif;
    color: #222;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 10vh;
    background-color: #03045E !important;
    /* background-color: rgba(150, 117, 117, 0.2); */
    max-width: 100vw !important; 
  }

.header .navbar {
    width: 100% !important;
    height: auto;
    
    
     }

#header .nav-link {
    color: #C0C0C0;
    font-weight: 600;
}

#header .nav-link:hover {
     color: #FF6700;
}

#header .navbar-brand {
    font-family: 'Cinzel', sans-serif;
    font-size: 1.5rem;
    color: #FF6700;
}




.navbar-toggler {
    border: none !important;
}

 

h1, 
h2,
h5 {
    font-family: 'Acme', sans-serif;
    color: #03045E;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 1em;
    padding: 0;
    color: #03045E;
}



.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    } 



#home,
#preview,
#destinations,
#explore,
#feedback {
    min-height: 100vh;
}




 .carousel_slider {
  height: 100vh;
} 

.carousel_slider-wrap {
    height: 100vh;
    width: 100%;
    background-color: grey;
}

carousel_slider img {
    height: 100vh;
}

.carousel_slider {
    position: relative;
    overflow-y: hidden;
    

}
.carousel_slider .slick-next {
    background: #fff ("assets/images/arrow-next.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 40px;
}

.carousel_slider .slick-prev {
    background: #fff ("assets/images/arrow-prev.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 40px;
    z-index: 10;
}

.carousel_slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.carousel_slider .slick-dots li {
list-style: none;
width: 15px;
height: 15px;
background: gray;
border-radius: 50%;
}

.carousel_slider .slick-dots li.slick-active {
    background: #000;
}

.carousel_slider .slick-dots li button {
    display: none;
}

 /* .carousel-caption {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    color: #fafafa;
    font-family: 'Acme',sans-serif;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}  */

.jumbotron {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: transparent;
      
    
} 

.jumbotron h1,h2 {
    margin-bottom: 1.5rem;
    color: #fafafa;
    
    
} 

/* .caption h2 {
    position: absolute;
    transform: translate(220%, 350%);
    z-index: 1;
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: 'Acme',sans-serif;
} */

.btn-blue {
    position: absolute;
    color: #fafafa;
    font-family: 'Acme',sans-serif;
    margin-right: 50px!important;
    z-index: 1;
    background-color: #03045E;
    border: 2px solid #03045E;
    text-transform: capitalize;
    font-size: 1.2rem; 
    transition: .3s ease background-color;
} 

.btn-blue:hover {
    color:  #fafafa;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: 'Acme',sans-serif;
}  

.underline {
    border: none;
    border-bottom: 2px solid #FF6700;
  
}

.previews-info {

}
 
   /* .previews {
    display: grid; 
    grid-template-columns: minmax(300px,1fr); 
    justify-content: center; 
    grid-gap: 2rem;
    margin: 2rem;
    }   */

 /* .previews .previews-header {
    width: 100%;
    text-align: center;
    align-items: flex-start;
   
}  */

/* .previews .previews-header .previews-header-heading {
    font-size: 2.2rem;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    color:  #03045E;
}  */

 /* .previews .previews-header .previews-header-desc {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 5px;
    color: #03045E;
}  */

 /* .previews .previews-header .previews-header-desc span {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 5px;
    color: #FF6700;
    font-weight: 600;
    text-transform: capitalize;
}  */

 .previews .previews-info {

     display: grid; 
     grid-template-columns: minmax(300px, 1fr);  
      /* grid-template-columns: 1fr;  */
    justify-content: center;  
    grid-gap: 2rem;
    margin: 2rem;
     /* box-shadow: 0px 2px 8px 0px;  */
     /* text-align: center;
     border-radius: 1rem;
     position: relative;
     overflow: hidden; */
    
    
    
} 

   .previews .previews-info .preview {
    width: 100%;
    min-height: 400px;
    position: relative;
    transition: .3s ease transform; 
    text-align: center;
    
    /* margin: 10px;  */
    /* grid-gap: 2rem; */
    /* grid-template-columns: 1fr; */
  
    
}  

  .previews .previews-info .preview .preview-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;   
    transition: .3s ease transform;
    display: block;  
    box-shadow: 0 4px 8px 0 rgba(150, 117, 117, 0.2); 

 } 

    .previews .previews-info .preview .preview-card .preview-front,
    .previews .previews-info .preview .preview-card .preview-back {
     position: absolute;
     left:0;
     top: 0;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 7px;
     background-color: #BBB8B2;
     box-shadow: 0 4px 8px 0 rgba(53, 27, 27, 0.692); 
     /* padding: 10px; */
     } 

     .previews .previews-info .preview .preview-card .preview-back {
        transform: rotateY(180deg);
    } 

     .previews .previews-info .preview:hover .preview-card {
        transform: rotateY(180deg);
    }  

    .previews .previews-info .preview .preview-card .preview-back .preview-back-heading {
    font-size: 2rem;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
     margin-bottom: 0;
    text-transform: capitalize;
    color: #03045E;
   } 

   .previews .previews-info .preview .preview-card .preview-back .preview-back-desc {
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align:center;
    /* padding: 0 0 0 0; */
    color:#03045E;
    margin: 5px;
  
   }  

   /* styles for bootstrap*/

   /* .section-container {
       display: block;
       justify-content: center;
       text-align: center;
       margin: 0;
       padding: 0;
   } */
   /* .section-container-row {
       margin: 0;
   } */

   /* .preview-section-card {
       border-radius: .5em;
       width: 90%;
       height:85%;
       margin: 13%;
       padding: 3%;
   } */
/* #preview {
    padding: 5em 0 0 0;
    overflow: hidden;
} */
    /* .preview-section-card {
    margin: 0 auto;
    padding: 0; 
} */

 

  /* .preview-card-container {
    width: 90%;
    height: 400px;
    margin: 0 auto; 
} */


/* .preview-card {
    position: relative;
    width: 100%; 
    height: 100%; 
    margin: 0;
    transform-style: preserve-3d;   
    transition: .3s ease transform;
    display: block;   
    box-shadow: 0 4px 8px 0 rgba(150, 117, 117, 0.2);  
 } */

   /* .preview-front,
   .preview-back {
     position: absolute;
     left:0;
     top: 0;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     border-radius: 10px;
     background-color: #BBB8B2;
     box-shadow: 0 4px 8px 0 rgba(53, 27, 27, 0.692);   
     padding: 10px;  
     } */

    /* .preview-back {
        transform: rotateY(180deg);
    } */

    /* .preview-card-container:hover .preview-card {
        transform: rotateY(180deg);
    }  */


    .preview-header {

    }

   /* .preview-back-heading {
    font-size: 1.8rem;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: capitalize;
    color: #03045E;
    text-align:center;
   } */

   /* .preview-back-desc {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align:center;
    padding: 0;
    color:#03045E;
     } */

    

   /* .preview-header p {
       margin-bottom: 2em;
       font-size: 1.5rem;
   } */

   /* .preview-header span{
    color: #FF6700;
    font-weight: 600;
    } */


   .destinations {
     width: 90%; 
     min-height: 100vh;
     position: relative;
     overflow: hidden;
     margin: 0 auto;
       
             
    }

    .destinations-title {
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .destinations-title .destinations-title-heading {
      font-size: 2rem;
      font-family: 'Acme', sans-serif;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    

   .tab-bar {
       display:flex;
       border-bottom: 1px solid #ff6700;
       width: 98%;
       margin-left: 10px;
          }

    .tab-bar button {
        background: transparent;
        border: none;
        width: 10%;
        background-color: transparent;
        outline: none;
        padding: 0 10px;
        color:#03045E;
        font-family: 'Acme', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    }

  

   #btn1 {
       color:#FF6700;
    }

   .card img {
       width: 100%;
       height: 200px;
       object-fit: cover;
   }

   .content {
    display: flex;  
    justify-content: center;
    text-align: center;
    margin: 2% auto;
    position: absolute;
    transform: translateX(100%);  
    }

    .card {
    flex-basis: 33%;
    text-align: center;
}

    .card {
    background-color: white;
    border-radius: 8px 8px 0 0; 
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    height: 520px;
        }

    .card .card-title {
        font-size: 1.5rem;
        padding: 5px;
    }

    .card p {
        font-size: 1rem;
        padding: 0 10px;
    }

    .card a {
        text-decoration: none;
    }


    #content1 {
        transform: translateX(0px);
    }

        .explore {
        width: 90%; 
        min-height: 100vh;
        margin: 0 auto;
        padding: 5rem 5rem 5rem 5rem; 
        position: relative;               
        }


       
        
        #map {
            height: 70vh !important;
            width: 80%;
            border: 5px solid  #03045E;
            border-radius: 20px;
            margin: 0 auto;
          
        }  

        .map-header {
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }

        /* .feedback {
        width: 90%; 
        min-height: 70vh !important;
        margin: 0 auto;
        padding: 5rem 5rem 5rem 5rem;
        overflow: hidden;                           
        }
            

        .feedback-title {
            display:flex;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;  
        }


        .feedback-header {
            display:flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #FF6700;
            margin-bottom: 3rem;  
        }

        

          .form-content {
            display: flex;
            justify-content: center;
            background-color: #BBB8B2;
            /* background-color: rgba(52, 149, 245, 0.486); */
            /* box-shadow: 0 4px 5px rgba(53, 27, 27, 0.692);
            margin-bottom: 0;  
            padding: 3em;
        } */

          

        /* input {
            border-radius: 5px;
            font-size: 1rem;
            outline: none;
            background-color: #ccc;
            border: none;
            
            
        }

        .form-group {
            margin-bottom: 0;
        } */

       /* .btn-blue {
            background-color: #03045E !important;
            color:   #C0C0C0;
            width: 30%;
            margin: 0 160px;
            transition: .3s ease background-color;
            
        } */

        /* .btn-blue:hover {
            background-color:  transparent !important;
            border: 2px solid #03045E;
            color:  #03045E;
            font-family:'Acme', sans-serif;
            font-weight: 600;
                    
        } */
      

        
        /* form {
            flex-basis: 45%;
            justify-content: center;
            align-items: center;
            /* box-shadow: 0 0 10px rgba(53, 27, 27, 0.692);  */
            /* margin: 0; */
        } */

      

        /* form h2 {
            font-size: 1.5rem;
            margin-top: 4px;
        } */

        /* .form-img {
            flex-basis: 45%;
            box-shadow: 0 5px 5px rgba(53, 27, 27, 0.692);
            width: 100%;
            height: 100%;
            text-align: center;  
             margin: 0;
        } */

        /* .form-img img {
            width: 100%;
            height:auto;                 
        } */

          /* .form-img  p {
            font-family: 'Acme', sans-serif;
            font-size: 1.5rem;
            margin-bottom: 4px;
            color: #03045E;
                    
        }  */

        #footer {
            background-color: #03045E;
            color:  #C0C0C0;
            height: 80px;
        }

        #footer h5 {
            color:  #C0C0C0;
        }


      

       



   @media only screen and (min-width:768px) {
    
     form {
            flex-basis: 45%;
            justify-content: center;
            align-items: center;
            /* box-shadow: 0 0 10px rgba(53, 27, 27, 0.692);  */
            margin: 1.5em;
        }


    .form-img {
            flex-basis: 45%;
            box-shadow: 0 5px 5px rgba(53, 27, 27, 0.692);
            width: 100%;
            height: 100%;
            text-align: center;  
             margin: 1.5em;
        }



         /* .previews .previews-header .previews-header-desc {
           flex-direction: column;
           width: 100%;              
           }  */

         /* .previews .previews-info {
           flex-direction: row;
           width: 100%;
           }  */
        /* .previews .previews-info .preview {
            height: 95%;
            min-width: 380px;
            position: relative;
            transition: .3s ease transform; 
            } */

   }   

    /* .previews .previews-info .preview .preview-card .preview-front,
    .previews .previews-info .preview .preview-card .preview-back {
     position: absolute;
     left:0;
     top: 0;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgba(0,0,0,0.13);
     padding: 10px;
     margin: 5px;
     }
      */
   
 @media only screen and (max-width:768px) {
        .content {
            display: flex;
            flex-direction: column;

    }

   .form-content {
            display: flex;
            flex-direction: column;

    }
    .tab-bar {
       display:flex;
       text-align: center;
       margin: 0 auto;
    }

    #btn1,
    #btn3,
    #btn2 {
        width: 20%;
        outline: none;
    }
 }
@media only screen and (max-width: 320px){
   /* .preview-card-container {
    width: 50%;
    min-height: 300px;
    margin: 0 auto; 
} */

/* .preview-card {
    font-size: 0.8em;
} */

/* .preview-header p {
    margin: 5em;
    } */

     form {
           
            margin: 0;
        }

          .form-img {
            flex-basis: 45%;
            box-shadow: 0 5px 5px rgba(53, 27, 27, 0.692);
            width: 100%;
            height: 100%;
            text-align: center;  
             margin:0;
        }

     /* .preview-section-card {
       border-radius: .5em;
       width: 100%;
       height:100%;
       margin: 0;
       padding: 0;
     } */

   .explore {
        width: 90%; 
        min-height: 100vh;
        margin: 0 auto;
        padding: 0; 
        position: relative;               
        }






 /* .previews .previews-info .preview .preview-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;   
    transition: .3s ease transform;
    display: block;  
    box-shadow: 0 4px 8px 0 rgba(150, 117, 117, 0.2); 
     flex-flow: row wrap;
 }

.caption .btn {
    position: absolute;
    transform: translate(220%, 1180%);
}
 .previews .previews-header .previews-header-desc {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 5px;
    color: #03045E;
}
     */
}
  
  @media screen and (min-width:550px){
      .previews .previews-info {
        grid-template-columns: repeat(2, 1fr);
    }  

  
   @media screen and (min-width:760px){
     .previews .previews-info {
        grid-template-columns: repeat(3, 1fr);
    } 

     @media screen and (max-width:768px){
     .previews .previews-info {
        grid-template-columns: repeat(2, 1fr);
        font-size: .8rem;
        line-height: 1rem;
        text-align:center;
    } 
    /* this code was to enable the carousel images to display 100vh, it was initially displaying 70vh leaving a grey space*/
    .carousel_slider img {
    height: 100vh !important; 
    
}

        /* .previews .previews-info .preview .preview-card .preview-back .preview-back-desc {
    font-size: .8rem;
    line-height: 1rem;
    text-align:center;
    padding: 2px 0 0 0;
     
   }    */
     }
 


     


