@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Alata', sans-serif;
    color: #222;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(150, 117, 117, 0.2);
    max-width: 100vw !important; 
  }

.header .navbar {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
     }

#header 

 

h1 {
    text-transform: capitalize;
}



.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home,
#preview,
#destinations,
#map,
#feedback {
    min-height: 100vh;
}


.carousel_slider img {
 height: 100vh;


}

.carousel_slider {
    position: relative;
    

}
.carousel_slider .slick-next {
    background: #fff ("assets/images/arrow-next.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 40px;
}

.carousel_slider .slick-prev {
    background: #fff ("assets/images/arrow-prev.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 40px;
    z-index: 10;
}

.carousel_slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.carousel_slider .slick-dots li {
list-style: none;
width: 15px;
height: 15px;
background: gray;
border-radius: 50%;
}

.carousel_slider .slick-dots li.slick-active {
    background: #000;
}

.carousel_slider .slick-dots li button {
    display: none;
}


 
.previews {
    flex-direction: column;
    min-height: 60vh;
    padding: 5rem 5rem;
}

.previews .previews-header {
    width: 100%;
    text-align: center;
}

.previews .previews-header .previews-header-heading {
    font-size: 3rem;
    /* font-family: */
    letter-spacing: 2px;
}

.previews .previews-header .previews-header-desc {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 10px;
}

.previews .previews-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

  .previews .previews-info .preview {
    width: 100%;
    min-height: 500px;
    position: relative;
    transition: .3s ease transform; 
    margin: 10px; 
}

 .previews .previews-info .preview .preview-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;   
    transition: .3s ease transform;
    display: block;  
    box-shadow: 0 4px 8px 0 rgba(150, 117, 117, 0.2); 
 }

    .previews .previews-info .preview .preview-card .preview-front,
    .previews .previews-info .preview .preview-card .preview-back {
     position: absolute;
     left:0;
     top: 0;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 7px;
     background-color: rgba(0,0,0,0.13);
     box-shadow: 0 4px 8px 0 rgba(53, 27, 27, 0.692); 
     padding: 10px;
     }

    .previews .previews-info .preview .preview-card .preview-back {
        transform: rotateY(180deg);
    }

    .previews .previews-info .preview:hover .preview-card {
        transform: rotateY(180deg);
    } 

   .previews .previews-info .preview .preview-card .preview-back .preview-back-heading {
    font-size: 2rem;
    /* font-family: */
    letter-spacing: 2px;
   }

   .previews .previews-info .preview .preview-card .preview-back .preview-back-desc {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align:center;
  
   }

   @media only screen and (min-width:768px) {
       .previews .previews-header .services-header-desc {
           max-width: 500px;
           /* margin: 0 auto; */
           }
        .previews .previews-info {
           flex-direction: row;
           width: 100%;
           }
        .previews .previews-info .preview {
            height: 95%;
            min-width: 380px;
            position: relative;
            transition: .3s ease transform; 
            }

    /* .previews .previews-info .preview .preview-card .preview-front,
    .previews .previews-info .preview .preview-card .preview-back {
     position: absolute;
     left:0;
     top: 0;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgba(0,0,0,0.13);
     padding: 10px;
     margin: 5px;
     }

      */
   }

 

    
  

   













