@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Alata', sans-serif;
    color: #222;

}

#home,
#places,
#map,
#feedback {
    min-height: 100vh;
}




.carousel_slider img {
    width: 100%;
    height: auto;
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}




    


