@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Alata', sans-serif;
    color: #222;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 10vh;
    background-color: #03045E !important;
    max-width: 100vw !important; 
  }

.header .navbar {
    width: 100% !important;
    height: auto;
     }

#header .nav-link {
    color: #C0C0C0;
    font-weight: 600;
}

#header .nav-link:hover {
     color: #FF6700;
}

#header .navbar-brand {
    font-family: 'Cinzel', sans-serif;
    font-size: 1.5rem;
    color: #FF6700;
}




.navbar-toggler {
    border: none !important;
}

 

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    } 

 .carousel_slider {
  height: 100vh;
} 

.carousel_slider-wrap {
    height: 100vh;
    width: 100%;
    background-color: grey;
}

carousel_slider img {
    height: 100vh;
}

.carousel_slider {
    position: relative;
    overflow-y: hidden;
    

}
.carousel_slider .slick-next {
    background: #fff ("assets/images/arrow-next.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 40px;
}

.carousel_slider .slick-prev {
    background: #fff ("assets/images/arrow-prev.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 40px;
    z-index: 10;
}

.carousel_slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.carousel_slider .slick-dots li {
list-style: none;
width: 15px;
height: 15px;
background: gray;
border-radius: 50%;
}

.carousel_slider .slick-dots li.slick-active {
    background: #000;
}

.carousel_slider .slick-dots li button {
    display: none;
}


.jumbotron {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: transparent;
} 

.jumbotron h1,h2 {
    margin-bottom: 1.5rem;
    color: #fafafa; font-family: 'Acme', sans-serif;
    text-transform: capitalize;
    margin: 0;
    padding: 0;   
} 

.jumbotron h1 {
    font-size: 4rem;
}

.jumbotron h2 {
    margin: 1rem 0;
    font-size: 2.2rem;
}



.btn-blue {
    color: #fafafa;
    font-family: 'Acme',sans-serif;
    z-index: 1;
    background-color: #03045E;
    border: 2px solid #03045E;
    text-transform: capitalize;
    font-size: 1.2rem; 
    transition: .3s ease background-color;
} 

.btn-blue:hover {
    color:  #fafafa;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: 'Acme',sans-serif;
}  

.underline {
    border: none;
    border-bottom: 2px solid #FF6700;
}

#preview {
    min-height: 50vh; 
}
 


 .previews .previews-header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    padding-top: 5rem;   
} 

.previews .previews-header h1 {
    color: #03045E;   
} 

.previews .previews-header span {
    color: #FF6700;  
    font-weight: 600;
     
} 

.previews .previews-header p {
    font-size: 1.2rem; 
} 





 .previews .previews-info {
     display: grid; 
     grid-template-columns: minmax(300px, 1fr);  
     justify-content: center;  
     grid-gap: 2rem;
     margin: 2rem;
} 

   .previews .previews-info .preview {
    width: 100%;
    min-height: 400px;
    position: relative;
    transition: .3s ease transform; 
    text-align: center; 
}  

  .previews .previews-info .preview .preview-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;   
    transition: .3s ease transform;
    display: block;  
    box-shadow: 0 4px 8px 0 rgba(150, 117, 117, 0.2); 
 } 

    .previews .previews-info .preview .preview-card .preview-front,
    .previews .previews-info .preview .preview-card .preview-back {
     position: absolute;
     left:0;
     top: 0;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 7px;
     background-color: #BBB8B2;
     box-shadow: 0 4px 8px 0 rgba(53, 27, 27, 0.692); 
   
     } 

     .previews .previews-info .preview .preview-card .preview-back {
        transform: rotateY(180deg);
    } 

     .previews .previews-info .preview:hover .preview-card {
        transform: rotateY(180deg);
    }  

    .previews .previews-info .preview .preview-card .preview-back .preview-back-heading {
    font-size: 2rem;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
     margin-bottom: 0;
    text-transform: capitalize;
    color: #03045E;
   } 

   .previews .previews-info .preview .preview-card .preview-back .preview-back-desc {
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align:center;
    color:#03045E;
    margin: 5px;
    padding: 0 2rem;  
    
  
   }  

  

    #destinations {
        padding: 0; 
    }

   .destinations {
     width: 80%; 
     height: 100vh; 
     position: relative;
     overflow: hidden;
     margin: 0 auto;              
    }

    .destinations-title {
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 5rem;
    }

    .destinations-title .destinations-title-heading {
      font-size: 2rem;
      font-family: 'Acme', sans-serif;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: #03045E!important;    
      margin: 0;
      padding: 0;
    }
    

   .tab-bar {
       display:flex;
       border-bottom: 1px solid #ff6700; 
       width: 90%;
       margin-left: 3rem;
       margin-bottom: 1rem;  
          }

    .tab-bar button {
        background: transparent;
        border: none;        
        width: 10%;
        background-color: transparent;
        outline: 1px solid rgba(0,0,0,0); 
        padding: 0 2rem; 
        color:#03045E;
        font-family: 'Acme', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    }

  

   #btn1 {
       color:#FF6700;
    }

   .card img {
       width: 100%;
       height: 180px; 
       object-fit: cover;
   }

   .content {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    justify-content: center;
    grid-gap: 2rem;
    text-align: center;
    position: absolute;  
    width: 100%;
    margin: 1.5rem 0;  
    transform: translateX(100%); 
    }

    

    .card {
    text-align: center;
    background-color: white;
    border-radius: 8px 8px 0 0; 
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    height: 400px;  
    }


    .card .card-title  {
        font-size: 1.2rem;
        padding: .2rem;
        color: #c0c0c0;
        border-top: 2px solid #ff6700;
        background-color: #03045E;
        text-transform: capitalize;
    }

    .card p {
        font-size: 1rem;
    }

    .card a {
        text-decoration: none;
    }


    #content1 {
        transform: translateX(0px);
    }

        .explore {
        width: 90%; 
        margin: 0 auto;
        padding-top: 5rem; 
        position: relative;               
        }


        
        #map {
            min-height: 70vh!important; 
            width: 90%;
            border: 5px solid  #03045E;
            border-radius: 20px;
            margin: 0 auto;
          
        }  

        .map-header {
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem; 
        }

        .map-header h2 {
            font-family: 'Acme', sans-serif;
            color: #03045E!important;
            text-transform: capitalize;
            margin: 0;
            padding: 0;
        }

        .feedback {
          max-width: 1170px;
          margin-left: auto;
          margin-right: auto;
          padding: 1rem;
          padding-top: 4rem;
        }

        .feedback h1 {
            text-align: center;
            margin-top: 1rem;
            color:  #03045E;
        }

        .feedback h3 {
            color:  #03045E;
        }

        .form-content {
           box-shadow: 0 0 20px 0 rgba(150, 117, 117, 0.4);
           display: grid;
           grid-column-gap: 1rem;
        }

    .bigfive-img {
            display: grid;    
        }

        .bigfive-img img {
            width: 100%;
            border-radius: 8px;

        }

        .center-form form {
            display: grid;
            grid-template-columns: 1fr;
            height: 90%; 
        }

        .center-form .field {
           outline: none;
           color: #222222;
           border: 2px solid rgba(0,0,0,0);
           background-color: rgba(150, 117, 117, 0.2);
           margin-bottom: 1rem;
           transition: .3s; 
        }

        .center-form .field:hover {
           background-color: rgba(0, 0, 0, 0.2);
           color: #03045E;
        }

         .center-form .field:focus {
           background-color: #fff;
           border: 2px solid rgba(184, 153, 153, 0.2);
        }

        .center-form h4{
            color: #03045E;
        }

        /* ----------------------------------------------button styles for the carousel caption*/

        .btn-blue {
            background-color: #03045E !important;
            color:   #C0C0C0;
            width: 30%;
            margin: 0 160px;
            transition: background-color 3s ease-out;
                    } 

        .btn-blue:hover {
            background-color:  transparent !important;
            border: 2px solid #03045E;
            color:  #03045E;
            font-family:'Acme', sans-serif;
            font-weight: 600;
         } 


        /* ------------------------------------------button styles for the top destinations section*/

        .btn-blue1 {
            background-color: #03045E !important;
            color:   #C0C0C0;
            width: 30%;
            margin-top: 1rem auto; 
            transition: background-color 3s ease-out;
                    } 

        .btn-blue1:hover {
            background-color:  transparent !important;
            border: 2px solid #03045E;
            color:  #03045E;
            font-family:'Acme', sans-serif;
            font-weight: 600;
         } 

       
/* ----------------------------------------------------button styles for the feedback form button*/
         .btn-1 {
           background-color: #03045E !important;
            color:   #C0C0C0;
            width: 20%;
           border-radius: 4px;
            transition: background-color 3s ease-out;
                    }

        .btn-1:hover {
            background-color:  transparent !important;
            border: 2px solid #03045E;
            color:  #03045E;
            font-family:'Acme', sans-serif;
            font-weight: 600;                 
        } 


         
      /* ----------------------------------------------------styles for the footer*/

        footer {
            background-color: #03045E!important; 
            color:  #C0C0C0; 
            min-height: 120px;
        }

        footer p {
            margin: 0;
            padding: 0;
        }

        footer a {
            color:#C0C0C0;
            text-decoration: none;
        } 

        footer a:hover {
            color: #FF6700;
            text-decoration: none;
            
        } 

        .social-links {
            padding-bottom: 20px; 
           
        }

        .social-links li a i {
            width: 32px;
            height: 32px;
            padding: 12px 0;
            border-radius: 50%;
            font-size: 15px;
            line-height: 7px;
            text-align: center;
            color: #C0C0C0;
            background-color: #FF6700;
            transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            -webkit-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
            box-shadow: 0 5px 4px rgba(0,0,0,0.5);
        }

         .social-links li a i:hover {
             background-color: #fafafa;
                      }

        .social-links li a:nth-child(1) i:hover {
             background-color: #3b5999;
                      }

        .social-links li a:nth-child(2) i:hover {
             background-color: #0077B5;
                      }

        .social-links li a:nth-child(2) i:hover {
             background-color: #55acee;
                      }

        #footer-details {
            padding: 20px;
        }

        


       

        

      
 
   
 @media only screen and (max-width:768px) {
        .content {
            display: flex;
            flex-direction: column;
    }


    .tab-bar {
       display:flex;
       text-align: center;
       margin: 0 auto;
    }

    #btn1,
    #btn3,
    #btn2 {
        width: 20%;
        outline: none;
    }
 }
@media only screen and (max-width: 320px){

        #map {
            width: 100%;
            padding: 0;
        }

        .tab-bar button {
        padding: 0 5rem;  
        font-size: .8rem;
    }
}
 
  @media screen and (min-width:550px){
      .previews .previews-info {
        grid-template-columns: repeat(2, 1fr);
    } 

     .card {
        grid-template-columns: repeat(2, 1fr);
    }  
  


 
  
   @media screen and (min-width:760px){
     .previews .previews-info {
        grid-template-columns: repeat(3, 1fr);
    } 

    .content {
        grid-template-columns: repeat(3, 1fr);
    }  

    .form-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
   }

     @media screen and (max-width:768px){
     .previews .previews-info {
        grid-template-columns: repeat(2, 1fr);
        font-size: .8rem;
        line-height: 1rem;
        text-align: center;  
    } 

    

      #destinations {
        height: 100vh;
    } 
 
   
    #preview {
       height: 100vh !important;
        margin: 1rem 0;
    }

     #map {
        width: 100%;
        height: 80vh;
        padding: 0;
    }
    /* this code was to enable the carousel images to display 100vh, it was initially displaying 70vh leaving a grey space*/
    .carousel_slider img {
    height: 100vh !important; 
    }

     
     }
 
@media screen and (max-width: 414px){
    #map {
        width: 100%;
    }
  
        #destinations {
        height: 100vh;
    } 

   

    } 

    @media screen and (min-width:1024px){
         .carousel_slider img {
            height: 100vh !important; 
    }
    }

     


 @media screen and (max-width: 1024px){
    .carousel_slider img {
        height: 200vh;
    } 

    #destinations {
         height: 50vh;
        } 
    

    #map {
            height: 50vh!important;
            width: 80%;   
            padding: 0;                 
        }  

         
}



@media only screen and (min-width: 1600px){
   
         #destinations {
             /* min-height: 110vh; */
             padding: 0;
       
    }
 /* this code was to enable the carousel images to display 100vh, it was initially displaying 70vh leaving a grey space*/
    .carousel_slider img {
    height: 100vh !important; 
    }
   

   

    

}
