@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Alata', sans-serif;
    color: #222;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

section-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}

#home,
#places,
#map,
#feedback {
    min-height: 100vh;
}




.carousel_slider img {
    width: 100%;
    height: auto;
}


.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;  
    margin-bottom: 50px;  
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: #bbb;
        color:#222;
    }

    .flip-card-back {
        background-color: #2980b9;
        color: #fff;
        transform: rotateY(180deg);
    }

    div {
        column-gap: 40px;
    }


    


