@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Alata', sans-serif;
    color: #222;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(150, 117, 117, 0.2);
    max-width: 100vw !important; 
  }

.header .navbar {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
     }

#header 

 

h1, h2 {
    font-family: 'Acme', sans-serif;
    color: #03045E;
}



.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home,
#preview,
#destinations,
#explore,
#feedback {
    min-height: 100vh;
}




.carousel_slider img {
 height: 100vh;


}

.carousel_slider {
    position: relative;
    

}
.carousel_slider .slick-next {
    background: #fff ("assets/images/arrow-next.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 40px;
}

.carousel_slider .slick-prev {
    background: #fff ("assets/images/arrow-prev.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 40px;
    z-index: 10;
}

.carousel_slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.carousel_slider .slick-dots li {
list-style: none;
width: 15px;
height: 15px;
background: gray;
border-radius: 50%;
}

.carousel_slider .slick-dots li.slick-active {
    background: #000;
}

.carousel_slider .slick-dots li button {
    display: none;
}

.underline {
    border: none;
    border-bottom: 1px solid #03045E;
    z-index: 1000;
}


 
.previews {
    flex-direction: column;
    min-height: 60vh;
    padding: 5rem 5rem; 
}

.previews .previews-header {
    width: 100%;
    text-align: center;
    align-items: flex-start;
   
}

.previews .previews-header .previews-header-heading {
    font-size: 2.2rem;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    color:  #03045E;
}

.previews .previews-header .previews-header-desc {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 5px;
    color: #03045E;
}

.previews .previews-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

  .previews .previews-info .preview {
    width: 100%;
    min-height: 500px;
    position: relative;
    transition: .3s ease transform; 
    margin: 10px; 
}

 .previews .previews-info .preview .preview-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;   
    transition: .3s ease transform;
    display: block;  
    box-shadow: 0 4px 8px 0 rgba(150, 117, 117, 0.2); 
 }

    .previews .previews-info .preview .preview-card .preview-front,
    .previews .previews-info .preview .preview-card .preview-back {
     position: absolute;
     left:0;
     top: 0;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 7px;
     background-color: #BBB8B2;
     box-shadow: 0 4px 8px 0 rgba(53, 27, 27, 0.692); 
     padding: 10px;
     }

    .previews .previews-info .preview .preview-card .preview-back {
        transform: rotateY(180deg);
    }

    .previews .previews-info .preview:hover .preview-card {
        transform: rotateY(180deg);
    } 

   .previews .previews-info .preview .preview-card .preview-back .preview-back-heading {
    font-size: 2rem;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
     margin-bottom: 0;
    text-transform: capitalize;
    color: #03045E;
   }

   .previews .previews-info .preview .preview-card .preview-back .preview-back-desc {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align:center;
    padding: 5px 0 0 0;
    color:#03045E;
  
   }

   

   .destinations {
     width: 90%; 
     min-height: 100vh;
     position: relative;
     overflow: hidden;
     margin: 0 auto;
       
             
    }

    .destinations-title {
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .destinations-title .destinations-title-heading {
      font-size: 2rem;
      font-family: 'Acme', sans-serif;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    

   .tab-bar {
       display:flex;
       border-bottom: 1px solid #ccc;
       
       
   }

    #btn1,
    #btn3,
    #btn2 {
        width: 10%;
        background-color: transparent;
        outline: none;

   }

   .card img {
       width: 100%;
       height: 200px;
       object-fit: cover;
   }

   .content {
    display: flex;  
    justify-content: center;
    text-align: center;
    margin: 2% auto;
    position: absolute;
    transform: translateX(100%);  
    }

    .card {
    flex-basis: 33%;
    text-align: center;
}

    .card {
    background-color: white;
    border-radius: 8px 8px 0 0; 
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    height: 580px;
        }

    .card .card-title {
        font-size: 1.5rem;
        padding: 5px;
    }

    .card p {
        font-size: 1rem;
        padding: 0 10px;
    }

        #content1 {
        transform: translateX(0px);
    }

        .explore {
        width: 90%; 
        min-height: 100vh;
        margin: 0 auto;
        padding: 5rem 5rem 5rem 5rem; 
        position: relative;               
        }


       
        
        #map {
            height: 70vh !important;
            width: 80%;
            border: 5px solid #528FCB;
            border-radius: 20px;
            margin: 0 auto;
          
        }  

        .map-header {
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }

        .feedback {
        width: 90%; 
        min-height: 60vh !important;
        margin: 0 auto;
        padding: 5rem 5rem 5rem 5rem;                           
        }
            

        

        .feedback-header {
            display:flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgb(167, 151, 151);
            margin-bottom: 3rem;  
        }

        .form-content {
            display: flex;
            justify-content: center;
            background-color: #BBB8B2;
            /* background-color: rgba(52, 149, 245, 0.486); */
            box-shadow: 0 4px 5px rgba(53, 27, 27, 0.692);
            margin-bottom: 10px;  
        }

          

        input {
            height: 40px;
            border-radius: 5px;
            font-size: 1rem;
            outline: none;
            background-color:  #ccc;
            border: none;
            transition: .3s ease-in-out;
            width: 100%;           
        }

        .form-group {
            margin-bottom: 0;
        }

        #submit {
            background-color: #03045E !important;
            color:  #fff;
        }

        #submit:hover {
            background-color:  transparent !important;
            border: 2px solid #fff;
            color:  #03045E;
            font-family:'Acme', sans-serif;
            font-size: 1.2rem;
            
           
        }
         #message {
            font-size: 1rem;
            color: #03045E;
            height: 100px;
            width: 100%;
        } 

        
        form {
            flex-basis: 45%;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px rgba(53, 27, 27, 0.692); 

        }

        form input {
            width: 100%;
        }

        form h2 {
            font-size: 1.5rem;
            margin-top: 4px;
        }

        .form-img {
            flex-basis: 45%;
            box-shadow: 0 10px 10px rgba(53, 27, 27, 0.692);
            width: 100%;
            text-align: center;  
        }

        .form-img img {
            width: 100%;
            height: 350px;
                    
        }

          .form-img  p {
            font-family: 'Acme', sans-serif;
            font-size: 1.5rem;
            margin-bottom: 4px;
            color: #03045E
                    
        }


      

       



   @media only screen and (min-width:768px) {
    
  

        /* .previews .previews-header .previews-header-desc {
           flex-direction: column;
           width: 100%;              
           } */

        .previews .previews-info {
           flex-direction: row;
           width: 100%;
           }
        .previews .previews-info .preview {
            height: 95%;
            min-width: 380px;
            position: relative;
            transition: .3s ease transform; 
            }

   }   

    /* .previews .previews-info .preview .preview-card .preview-front,
    .previews .previews-info .preview .preview-card .preview-back {
     position: absolute;
     left:0;
     top: 0;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgba(0,0,0,0.13);
     padding: 10px;
     margin: 5px;
     }

      */
   
 @media only screen and (max-width:768px) {
        .content {
            display: flex;
            flex-direction: column;

    }

   .form-content {
            display: flex;
            flex-direction: column;

    }
    .tab-bar {
       display:flex;
       text-align: center;
       margin: 0 auto;
    }

    #btn1,
    #btn3,
    #btn2 {
        width: 20%;
        outline: none;
    }
 

    
  

   













