@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Alata', sans-serif;
    color: #222;
}

header {
    min-height: 100vh;
}

.row-table {
    display: table;
}

h1 {
    text-transform: capitalize;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

section-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}

#home,
#places,
#map,
#feedback {
    min-height: 100vh;
}


.nav-link {
    font-size: 20px;
}

img {
   max-width: 100%;
   
}

.carousel_slider {
    position: relative;

}
.carousel_slider .slick-next {
    background: #fff ("assets/images/arrow-next.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 40px;
}

.carousel_slider .slick-prev {
    background: #fff ("assets/images/arrow-prev.png") center center no-repeat;
    font-size: 0px;
    background-size: 80%;
    border: 0px;
    width:80px;
    height: 146px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 40px;
    z-index: 10;
}

.carousel_slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.carousel_slider .slick-dots li {
list-style: none;
width: 15px;
height: 15px;
background: gray;
border-radius: 50%;
}

.carousel_slider .slick-dots li.slick-active {
    background: #000;
}

.carousel_slider .slick-dots li button {
    display: none;
}




.flip-card {
    position: relative;
    background-color: transparent;
    width: 360px;
    height: 380px;
    perspective: 1000px;  
    margin-bottom: 50px;  
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-image:url("assets/images/flipimage-1.jpg");
        color:#222;
    }

    .flip-card-back {
        background-color: #2980b9;
        color: #fff;
        transform: rotateY(180deg);
        width: 400px;
        height: 420px;
        padding: 0 20px 0 20px;
    }
    hr {
        border: 1px solid #fff;
        width: 50%;
    }

   

   













